.layout {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    background: #fff;
    border-bottom: 1px solid #eaeaea;
    padding: 1rem 0;
}

.header_container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
}

.header_logo {
    font-weight: 700;
}

.header_logo_text {
    font-size: 1rem;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.main {
    flex: 1;
}